<br />
<h3> Tweets </h3>
<br />
<ol>
<% @tweets.each do |tweet| %>
		<li>
		<%= tweet.text %>,
		<%= tweet.geo %>
		</li>
	<% end %>
</ol>
<br />
<h3> Pictures </h3>
<br />
<ol>
<% @tweets.each do |tweet| %>
		<% t = tweet.media %>
		<% t do |tw| %>
		<li><img src="<%= tw.media_url %>" alt="twitter pic" />
		</li>
		<% end %>
	<% end %>
</ol>

