<h1> Tweet </h1>
<br />
<h4> Hashtag= </h4>
<br />
<table>
<tr>
<th>Tweet</th>
<th>Picture</th>
<th>Location</th>
</tr>
<tr>
<% @tweets.each do |tweet| %>
<td>
<%= tweet.text %>
</td>
<td>
</td>
<td>
</td>
<% end %>
</tr>
</table>

	

