<h1> Tweet </h1>
<br />
<h4> Hashtag= #ncstate </h4>
<br />
<% end %>
<%= app_settings[:hashtags][:hash_tag1] %>

<!--<% @tweets.each do |tweet| %>-->
		<!--<ul><%= tweet.text %></ul>-->
	<!--<% end %>-->
	

