<br />
<h2> Tweets </h2>
<br />
<ol>
<% @tweets.each do |tweet| %>
		<li>
		<%= tweet.text %>
		</li>
	<% end %>
</ol>
<br />
<h2> Pictures </h2>
<br />
<ol>
<% @tweets.each do |tweet| %>
		<% t = tweet.media %>
		<% t.each do |tw| %>
		<li><img src="<%= tw.media_url %>" alt="twitter pic" />
		</li>
		<% end %>
	<% end %>
</ol>

