<br />
<h2> Tweets </h2>
<br />
<% @tweets.each do |tweet| %>
		<ol><%= tweet.text %></ol>
	<% end %>
<br />
<h2> Pictures </h2>
<br />
<% @tweets.each do |tweet| %>
		<% t = tweet.media %>
		<% t.each do |tw| %>
		<ol><img src="<%= tw.media_url %>" alt="twitter pic" /></ol>
		<% end %>
	<% end %>


