<h1> Tweet </h1>
<br />
<h4> Hashtag= </h4>
<br />

<ul>
<% @tweets.each do |tweet| %>
		<% t = tweet.text %>
	<% end %>
<% @tweets.each do |tweet| %>
		<% t = tweet.media %>
		<% t.each do |tw| %>
		<img src="<%= tw.media_url %>" alt="twitter pic" />
		<% end %>
	<% end %>
</ul>

