<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
 <!--
		@import url('style.css');
-->
</style>
  <title>Twitterapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<h1 class="centered">My Twitter App</h1>
<br/>
<body>
<%= yield %>
</body>

</html>
